/* ОСНОВНЫЕ СТИЛИ */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

.slider {
  position: relative;
  overflow: hidden;
/*
   margin: 0 auto;
   max-width: 1600px;
*/
   
}
.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease; /* 0.6 длительность смены слайда в секундах */
}
.slider__item {
  flex: 0 0 100%; /* определяет количество активных слайдов (в данном случае 2 */
  max-width: 100%; /* определяет количество активных слайдов (в данном случае 2 */
}

    @media (min-width: 576px) {
      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media (min-width: 770px) {
      .slider__item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }

    @media (min-width: 1200px) {
      .slider__item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }


/* СТИЛИ ДЛЯ КНОПОК "НАЗАД" И "ВПЕРЁД" */
.slider__control {
  position: absolute;
  display: none;  
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px; /* ширина кнопки */
  height: 50px; /* высота кнопки */ 
  opacity: 0.5; /* прозрачность */
  background: #000; /* цвет фона */
}
.slider__control_show {
  display: flex;
}
.slider__control:hover,
.slider__control:focus {
  text-decoration: none;
  outline: 0;
  opacity: 0.9; /* прозрачность */
}
.slider__control_left {
  left: 0;
}
.slider__control_right {
  right: 0;
}
.slider__control:before {
  content: '';
  display: inline-block;
  width: 20px; /* ширина иконки (стрелочки) */
  height: 20px; /* высота иконки (стрелочки) */
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control_left:before {
  background-image: url("../img/arrow_left.svg");
}
.slider__control_right:before {
  background-image: url("../img/arrow_right.svg");
}